<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Spring MVC Hibernate Example</display-name>
	<servlet>
		<servlet-name>hiber</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hiber</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>